.ManageServerMemberList-title {
    color: aliceblue;
    text-align: center;
}

.ManageServerMemberList-ul {
    list-style-type: none;
    overflow-y: scroll;
    height: 55vh;
}

.ManageServerMemberList-ul::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
}

.ManageServerMemberEntry-name {
    color: azure;
}

.ManageServerMemberEntry-id {
    color: gray;
}