.MainFrame-Sidebar {
    background-color: #303030;
    height: 100%;
}

.MainFrame-container {
    height: 92vh;
    width: 100vw;
    margin-right: 0%;
    max-width: 100%;
}

.MainFrame-row {
    height: 92vh;
}

.MainFrame-main-page {
    background-color: darkgrey;
}