.AddServerPage-title {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.AddServerPage-flags {
    height: 5vh;
    text-align: center;
}

.AddServerPage-success {
    font-weight: bold;
    background-color: aquamarine;
    padding-left: 40%;
    padding-right: 40%;
}

.AddServerPage-form {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}