.UpdateMemberProfile {
    text-align: center;
    color: whitesmoke;
}

.UpdateMemberProfile-form {
    width: 80%;
    margin-left: 10%;
}

.UpdateMemberProfile-btn {
    margin-top: 3vh;
}