.PS_MembershipInfo-server-title {
    font-weight: bolder;
    margin-right: 1vw;
}

.PS_MemebershipInfo-nickname-title {
    font-weight: bolder;
    margin-right: 1vw;
}

.PS_MemebershipInfo-role-title {
    font-weight: bolder;
    margin-right: 1vw;
}