.RoomScreen {
    background-color: #656565;
    height: 87vh;
}

.RoomScreen > ul {
    list-style: none;
    overflow: auto;
    height: 72vh;
    display: flex;
    text-align: left;

    flex-direction: column-reverse;
}

.RoomScreen > ul::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 1mm;
}

.RoomScreen > ul:hover::-webkit-scrollbar-track-piece {
    color: rgba(0, 0, 0, 50);
}

.ChatSubmissionLine {
    position: absolute;
    width: 45vw;
    bottom: 3vh;
}

.ChatLine-poster-name {
    color: aliceblue;
    font-size: larger;
}

.ChatLine-post-date {
    color: slategray;
    margin-left: 2mm;
}

.ChatLine-content {
    color: ghostwhite;
}
